<div class="container main__container">
<div class="row">
  <div class="col-md-6 col-xs-12 main__column">
    <h3>Our locations</h3>
    <div class="row justify-content-center">
      <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../assets/location1.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-text">Warsaw</h4>
          <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
            felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a,
            ultricies porta urna. </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../assets/location2.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-text">Krakow</h4>
          <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
            felis. Maecenas malesuada elit lectus felis, malesuada ultricies. .</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12 main__column">
    <h3>Our team</h3>
    <div class="row justify-content-center">
      <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../assets/team1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
            felis. Maecenas malesuada elit lectus felis, malesuada ultricies. </p>
          <a href="#" class="btn btn-outline-info">Show more</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="card" style="width: 70%;">
        <img class="card-img-top" src="../assets/team2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Team2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
            felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Suspendisse a pellentesque dui, non
            felis. Maecenas malesuada elit lectus felis, malesuada ultricies. </p>
          <a href="#" class="btn btn-outline-info">Show more</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
