
.container {
  margin-bottom: 20px;
  text-align: justify;


  h3 {
    text-align: center;
  }

  .main__column {
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
    padding: 30px 0;
  }

  .card-img-top {
    animation: content 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .card-img-top:hover {
    animation: content-hover 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

@keyframes content {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes content-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

