.navbar {
  font-size: 17px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.884);

  .icon {
    margin: 10px;
  }

  .navbar-brand {
    color: rgb(9, 141, 194);
    font-size: x-large;
  }

  .nav-item:hover {
    background-color: rgba(204, 204, 204, 0.308);
    border-radius: 10px;
    animation: nav-item 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .nav-link:hover {
    color: black;
  }
}

.a__animate {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  position: relative;
}

.a__animate:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(142, 207, 238);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.a__animate:hover:after {
  width: 100%;
  left: 0;
}

.footer__content {
  text-align: center;
}

.footer__social-media {
  margin-top: 15px;
}

.footer__social-media__icon {
  margin: 10px;
}

@keyframes nav-item {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}







