<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <img src="../assets/b.png" width="30" height="30" class="d-inline-block align-top icon" alt="CompanyName">
  <a class="navbar-brand" href="#">ExampleCompany</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link a__animate" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link a__animate" href="#">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link a__animate" href="#">For student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link a__animate" href="#">For employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link a__animate" href="#">Contact us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search on the site" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container main__container">
  <div class="row">
    <div class="col-12">
      <h2 class="main__header">
        Welcome to our company
      </h2>
      <div class="jumbotron">
        <div class="container jumbotron-text">
          <h3 class="display-3">Welcome to our company</h3>
          <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies. Lorem ipsum dolor sit amet enim. Etiam
            ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12 main__column">
      <h3>Our locations</h3>
      <div class="row justify-content-center">
        <div class="card" style="width: 70%;">
          <img class="card-img-top" src="../assets/location1.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Warsaw</h4>
            <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
              felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a,
              ultricies porta urna. </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card" style="width: 70%;">
          <img class="card-img-top" src="../assets/location2.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">Krakow</h4>
            <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
              felis. Maecenas malesuada elit lectus felis, malesuada ultricies. .</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 main__column">
      <h3>Our team</h3>
      <div class="row justify-content-center">
        <div class="card" style="width: 70%;">
          <img class="card-img-top" src="../assets/team1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Team1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
              felis. Maecenas malesuada elit lectus felis, malesuada ultricies. </p>
            <a href="#" class="btn btn-outline-info">Show more</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="card" style="width: 70%;">
          <img class="card-img-top" src="../assets/team2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Team2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non
              felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Suspendisse a pellentesque dui, non
              felis. Maecenas malesuada elit lectus felis, malesuada ultricies. </p>
            <a href="#" class="btn btn-outline-info">Show more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-light text-center">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h5>ExampleCompany</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias.
        </p>
      </div>
      <div class="col-lg-3 col-xs-6 footer__content">
        <h5 class="text-uppercase">Site map</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark a__animate">Information</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">For student</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">For employee</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-xs-6 footer__content">
        <h5 class="text-uppercase">Company</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-dark a__animate">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-dark a__animate">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2)">© 2021 Copyright | ExampleCompany
    <div
      class="footer__social-media">
      <a href="https://www.facebook.com/" class="footer__social-media__icon"><img src="../assets/facebook.png"></a>
      <a href="https://www.instagram.com/" class="footer__social-media__icon"><img src="../assets/instagram.png"></a>
      <a href="https://www.linkedin.com/" class="footer__social-media__icon"><img src="../assets/linkedin.png"></a>
    </div>
  </div>
</footer>