<div class="container main__container">
  <div class="row">
    <div class="col-12">
      <h2 class="main__header">
        Welcome to our company
      </h2>
      <div class="jumbotron">
        <div class="container jumbotron-text">
          <h3 class="display-3">Welcome to our company</h3>
          <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies. Lorem ipsum dolor sit amet enim. Etiam
            ullamcorper. Suspendisse a pellentesque dui, non felis.
            Maecenas malesuada elit lectus felis, malesuada ultricies.</p>
        </div>
      </div>
    </div>
  </div>
</div>
